'.source.js':
  'Generate React Config':
    'prefix': 'grc'
    'body': '{
      \n  name: \'$1\',
      \n  type: \'$2s\',
      \n  isCollection: $3false,
      \n  subcomponents: [$4]
      \n}'

'.source.jsx':
  'Generate React Config':
    'prefix': 'grc'
    'body': '{
      \n  name: \'$1\',
      \n  type: \'$2s\',
      \n  isCollection: $3false,
      \n  subcomponents: [$4]
      \n}'
